---
layout: default
wrap-id: index
---

<div class="content-panel">
    <div class="gravatar">
        <a href="static/selfie.jpg">
            <img src="{{ site.title_image }}" height="150" width="150" alt="{{ site.title }}" />
        </a>
    </div>

    <h1 class="heading" itemprop="headline">{{ site.title }}</h1>

    <div>
        {{ site.title_description }}
    </div>

    {% include social_links.html %}
    
</div>
<div class="content-panel">
    
    <h2>Latest Articles</h2>

    <ul class="articles">
        {% for post in site.posts limit: site.post_limit %}
        {% if post.hide == 1 %} {% continue %} {% endif %}

            <li style="word-break:break-all;">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <small>{{ post.date | date: "%B %-d, %Y" }}</small>
            </li>

        {% endfor %}
        <li>
            <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
        </li>
    </ul>
</div>
