<div class="footer">
  <div class="footer-left">
    Thanks to <a href="/giants">Giants</a>
  </div>
  <div class="footer-right">
    &lt;/&gt; on <a href="https://github.com/gareins/gareins.github.io\">Github</a>
  </div>
</div>

<img id="imgloader" src="/static/favicon.png" alt="invisible image loader"> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
<script defer src="{{ site.baseurl }}/js/script.js"></script>

{% if page.content contains '<script type="math/tex' %}
<!-- MathJax for LaTeX -->
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'></script>
{% endif %}
