@import url(https://cdn.jsdelivr.net/normalize/3.0.3/normalize.min.css);

body {
    font-family: Helvetica, Arial;
    background: rgba(69, 90, 100, 1);
}

h1 {
    font-size: 4rem;
    color: #ff9800;
    line-height: 95%;
    margin: 2rem;
}

h2 {
    font-size: 1rem;
    color: #ff9800;
    margin: 1rem;
}

a {
    outline: 0;
}

li a {
    text-decoration: none;
    color: #D99126;
}

li a:hover {
    opacity: 0.75;
}

ul {
    margin-top: 2rem;
    padding: 0;
}

#back {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  display: block;
  background-position: center center;
  background-size:cover;
  opacity: 0;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.inner ul li {
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    list-style: none;
    display: inline-block;
}

#imgloader {
  visibility: hidden;
  height: 0px;
}

/* Browser update */

body .buorg {
	color: white;
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

body #buorgclose {
	top: 2px;
}

/* FontAwesome svgs */

.icon {
    width: 3rem;
    height: 3rem;
    text-align: center;
}
.icon-svg {
    fill: #D99126;
}
